.Crew{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEEEEE;
    width: 100%;
    padding-top: 3rem;
}
.Crew-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
   
}