.CrewCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: min-content;
    padding-bottom: 1.5rem;
    margin: 1.5rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
    background-color: white;
}

.CrewCard img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    margin: 2rem;
    border-radius: 50%;
    box-shadow: 0 1px 8px 0 lightgray, 0 6px 20px 10px lightgrey;
}

.CrewCard-name{
    font-size: 2rem;
    font-weight: 500;
    color: #4F4F4F;
    margin: 1.6rem 0;
    font-family: "Roboto",sans-serif;
}
.CrewCard-role{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 2rem;
    color: #757575!important;
    font-family: 'Patrick Hand';
    text-transform: uppercase;

}

@media (max-width: 650px) {
    .CrewCard img{
        width: 10rem;
        height: 10rem;
        margin-bottom: 1rem;
    }
    .CrewCard-name{
        font-size: 1.2rem;
    margin: 1rem 0;

    }
    .CrewCard-role{
        font-size: 1rem;
    margin-bottom: 0;

    }
    .list-unstyled>a{
        margin: 0;
    }

    
}