.photoGallery{
  width: 100vw;
  padding: 2rem 8%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0,0,0,0.8);

}

.image-cards{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 border-radius: 5px !important;
}
.image-cards img{
  /* position: relative; */
  cursor: pointer;
  overflow: hidden;
  margin: 0.6rem;
  width: 28rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 8px;
  filter: brightness(100%);
  display: block;
  transition: transform 0.5s ease;
}

.image-card img:hover{
  filter: brightness(60%);
}

.image-card{
  position: relative;
  overflow: hidden;
  border-radius:10px;
}

.image-card:hover .photoGallery-viewIcon {
  opacity: 1;
}

.photoGallery-viewIcon{
  text-decoration: none;
  position: absolute;
  color: #BF0101;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.photoGallery-viewIcon:last-child :visited{
  color: #BF0101;
}

.image-card:hover img {
  transform: scale(0.95);
}

